body{
    background: url("/static/img/fondo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header {
    background-color: lightcyan;
    padding-bottom: 1%;
}
.cajita{
    border: solid black 1px;
    background-color: aquamarine;
    padding:2px;
    margin: 2px;
}

#dropdownmenu{
    transition: 0.5s;
}
#dropdownmenu:hover:after{
	content: "Menu";
	white-space: pre-wrap;
}
.centrado{
    display: block;
    margin:0 auto;
    text-align: center;
}
.producto{
    width: 200px;
    height: 200px;
    border: solid lightblue 2px;
}
.cortoCentrado{
    display:block; 
    margin:0 auto; 
    text-align:center;
    width: 25%;
}
.linea{
    height: 2px;
    margin: 1vw;
	width: 120%;
	margin-left: -20px;
	background-color: lightslategray;
}
@media (max-width: 992px) {
    nav{
        font-size: 22px;
    }
    header h1{
        font-size: 36px;
        font-weight: bold;
    }
    .producto{
        width: 150px;
        height: 150px;
        border: solid lightblue 2px;
    }
}
  
@media (max-width: 768px) {
    nav{
        font-size: 28px;
    }
    header h1{
        font-size: 28px;
        font-weight: bold;
    }
    .cortoCentrado{
        display:block; 
        margin:0 auto; 
        text-align:center;
        width: 50%;
    }
}
  
@media (max-width: 576px) {
    nav{
        font-size: 24px;
    }
    a{
        text-align: center;
        background-color: aqua;
    }
    header h1{
        font-size: 24px;
        font-weight: bold;
    }
    .cortoCentrado{
        display:block; 
        margin:0 auto; 
        text-align:center;
        width: 75%;
    }
}