{% extends "Base/base.html" %}
{% block content %}
<script type="text/javascript">
var RegionesYcomunas = {

"regiones": [{
    "NombreRegion": "Arica y Parinacota",
    "comunas": ["Arica", "Camarones", "Putre", "General Lagos"]
},
{
    "NombreRegion": "Tarapacá",
    "comunas": ["Iquique", "Alto Hospicio", "Pozo Almonte", "Camina", "Colchane", "Huara", "Pica"]
},
{
    "NombreRegion": "Antofagasta",
    "comunas": ["Antofagasta", "Mejillones", "Sierra Gorda", "Taltal", "Calama", "Ollag?e", "San Pedro de Atacama", "Tocopilla", "Maria Elena"]
},
{
    "NombreRegion": "Atacama",
    "comunas": ["Copiapo", "Caldera", "Tierra Amarilla", "Chanaral", "Diego de Almagro", "Vallenar", "Alto del Carmen", "Freirina", "Huasco"]
},
{
    "NombreRegion": "Coquimbo",
    "comunas": ["La Serena", "Coquimbo", "Andacollo", "La Higuera", "Paiguano", "Vicuna", "Illapel", "Canela", "Los Vilos", "Salamanca", "Ovalle", "CombarbalA", "Monte Patria", "Punitaqui", "Rio Hurtado"]
},
{
    "NombreRegion": "Valparaiso",
    "comunas": ["Valparaiso", "Casablanca", "Concon", "Juan FernAndez", "Puchuncavi", "Quintero", "Vina del Mar", "Isla de Pascua", "Los Andes", "Calle Larga", "Rinconada", "San Esteban", "La Ligua", "Cabildo", "Papudo", "Petorca", "Zapallar", "Quillota", "Calera", "Hijuelas", "La Cruz", "Nogales", "San Antonio", "Algarrobo", "Cartagena", "El Quisco", "El Tabo", "Santo Domingo", "San Felipe", "Catemu", "Llaillay", "Panquehue", "Putaendo", "Santa Maria", "Quilpue", "Limache", "Olmue", "Villa Alemana"]
},
{
    "NombreRegion": "Región del Libertador Gral. Bernardo O'Higgins",
    "comunas": ["Rancagua", "Codegua", "Coinco", "Coltauco", "Donihue", "Graneros", "Las Cabras", "Machali", "Malloa", "Mostazal", "Olivar", "Peumo", "Pichidegua", "Quinta de Tilcoco", "Rengo", "Requinoa", "San Vicente", "Pichilemu", "La Estrella", "Litueche", "Marchihue", "Navidad", "Paredones", "San Fernando", "Chepica", "Chimbarongo", "Lolol", "Nancagua", "Palmilla", "Peralillo", "Placilla", "Pumanque", "Santa Cruz"]
},
{
    "NombreRegion": "Región del Maule",
    "comunas": ["Talca", "ConsVtucion", "Curepto", "Empedrado", "Maule", "Pelarco", "Pencahue", "Rio Claro", "San Clemente", "San Rafael", "Cauquenes", "Chanco", "Pelluhue", "Curico", "Hualane", "Licanten", "Molina", "Rauco", "Romeral", "Sagrada Familia", "Teno", "Vichuquen", "Linares", "Colbun", "Longavi", "Parral", "ReVro", "San Javier", "Villa Alegre", "Yerbas Buenas"]
},
{
    "NombreRegion": "Región del Biobio",
    "comunas": ["Concepcion", "Coronel", "Chiguayante", "Florida", "Hualqui", "Lota", "Penco", "San Pedro de la Paz", "Santa Juana", "Talcahuano", "Tome", "Hualpen", "Lebu", "Arauco", "Canete", "Contulmo", "Curanilahue", "Los Alamos", "Tirua", "Los Angeles", "Antuco", "Cabrero", "Laja", "Mulchen", "Nacimiento", "Negrete", "Quilaco", "Quilleco", "San Rosendo", "Santa BArbara", "Tucapel", "Yumbel", "Alto Biobio", "ChillAn", "Bulnes", "Cobquecura", "Coelemu", "Coihueco", "ChillAn Viejo", "El Carmen", "Ninhue", "niquen", "Pemuco", "Pinto", "Portezuelo", "Quillon", "Quirihue", "RAnquil", "San Carlos", "San Fabián", "San Ignacio", "San NicolAs", "Treguaco", "Yungay"]
},
{
    "NombreRegion": "Región de la Araucania",
    "comunas": ["Temuco", "Carahue", "Cunco", "Curarrehue", "Freire", "Galvarino", "Gorbea", "Lautaro", "Loncoche", "Melipeuco", "Nueva Imperial", "Padre las Casas", "Perquenco", "Pitrufquen", "Pucon", "Saavedra", "Teodoro Schmidt", "Tolten", "Vilcun", "Villarrica", "Cholchol", "Angol", "Collipulli", "Curacautin", "Ercilla", "Lonquimay", "Los Sauces", "Lumaco", "Puren", "Renaico", "Traiguen", "Victoria", ]
},
{
    "NombreRegion": "Región de Los Ríos",
    "comunas": ["Valdivia", "Corral", "Lanco", "Los Lagos", "MAfil", "Mariquina", "Paillaco", "Panguipulli", "La Union", "Futrono", "Lago Ranco", "Rio Bueno"]
},
{
    "NombreRegion": "Región de Los Lagos",
    "comunas": ["Puerto Montt", "Calbuco", "Cochamo", "Fresia", "FruVllar", "Los Muermos", "Llanquihue", "Maullin", "Puerto Varas", "Castro", "Ancud", "Chonchi", "Curaco de Velez", "Dalcahue", "Puqueldon", "Queilen", "Quellon", "Quemchi", "Quinchao", "Osorno", "Puerto Octay", "Purranque", "Puyehue", "Rio Negro", "San Juan de la Costa", "San Pablo", "Chaiten", "Futaleufu", "Hualaihue", "Palena"]
},
{
    "NombreRegion": "Región Aisén del Gral. Carlos Ibáñez del Campo",
    "comunas": ["Coihaique", "Lago Verde", "Aisén", "Cisnes", "Guaitecas", "Cochrane", "O'Higgins", "Tortel", "Chile Chico", "Río Ibánez"]
},
{
    "NombreRegion": "Región de Magallanes y de la Antártica Chilena",
    "comunas": ["Punta Arenas", "Laguna Blanca", "Rio Verde", "San Gregorio", "Cabo de Hornos (Ex Navarino)", "AntArVca", "Porvenir", "Primavera", "Timaukel", "Natales", "Torres del Paine"]
},
{
    "NombreRegion": "Región Metropolitana de Santiago",
    "comunas": ["Cerrillos", "Cerro Navia", "Conchali", "El Bosque", "Estacion Central", "Huechuraba", "Independencia", "La Cisterna", "La Florida", "La Granja", "La Pintana", "La Reina", "Las Condes", "Lo Barnechea", "Lo Espejo", "Lo Prado", "Macul", "Maipu", "nunoa", "Pedro Aguirre Cerda", "Penalolen", "Providencia", "Pudahuel", "Quilicura", "Quinta Normal", "Recoleta", "Renca", "San Joaquin", "San Miguel", "San Ramon", "Vitacura", "Puente Alto", "Pirque", "San Jose de Maipo", "Colina", "Lampa", "TilVl", "San Bernardo", "Buin", "Calera de Tango", "Paine", "Melipilla", "Alhue", "Curacavi", "Maria Pinto", "San Pedro", "Talagante", "El Monte", "Isla de Maipo", "Padre Hurtado", "Penaflor"]
}]
}

jQuery(document).ready(function () {

var iRegion = 0;
var htmlRegion = '<option value="sin-region">Seleccione region</option><option value="sin-region">--</option>';
var htmlComunas = '<option value="sin-region">Seleccione comuna</option><option value="sin-region">--</option>';

jQuery.each(RegionesYcomunas.regiones, function () {
    htmlRegion = htmlRegion + '<option value="' + RegionesYcomunas.regiones[iRegion].NombreRegion + '">' + RegionesYcomunas.regiones[iRegion].NombreRegion + '</option>';
    iRegion++;
});

jQuery('#id_ciudad').html(htmlRegion);
jQuery('#id_comuna').html(htmlComunas);

jQuery('#id_ciudad').change(function () {
    var iRegiones = 0;
    var valorRegion = jQuery(this).val();
    var htmlComuna = '<option value="sin-comuna">Seleccione comuna</option><option value="sin-comuna">--</option>';
    jQuery.each(RegionesYcomunas.regiones, function () {
        if (RegionesYcomunas.regiones[iRegiones].NombreRegion == valorRegion) {
            var iComunas = 0;
            jQuery.each(RegionesYcomunas.regiones[iRegiones].comunas, function () {
                htmlComuna = htmlComuna + '<option value="' + RegionesYcomunas.regiones[iRegiones].comunas[iComunas] + '">' + RegionesYcomunas.regiones[iRegiones].comunas[iComunas] + '</option>';
                iComunas++;
            });
        }
        iRegiones++;
    });
    jQuery('#id_comuna').html(htmlComuna);
});
jQuery('#id_comuna').change(function () {
    if (jQuery(this).val() == 'sin-region') {
        alert('Seleccione una region');
    } else if (jQuery(this).val() == 'sin-comuna') {
        alert('Seleccione una comuna');
    }
});
jQuery('#id_ciudad').change(function () {
    if (jQuery(this).val() == 'sin-region') {
        alert('Seleccione una region');
    }
});
jQuery("form").submit(function( event ){
    if(jQuery('#id_ciudad').val() == 'sin-region' || jQuery('#comunas').val() == 'sin-comuna'){
        alert('No ha ingresado todos los campos aun.');
        event.preventDefault();
    }
});
});
</script>
<section>
    <form method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class='row'>
            <div class='cortoCentrado'>
                {{ field.label_tag}}
                {{ field }}
                {{ field.errors }}
                {{ field.help_text }}
            </div>
        </div>
        {% endfor %}
        <br>
        <div class='cortoCentrado'>
            <button type="submit" class="btn btn-success">Crear</button>
        </div>
    </form>
</section>
{% endblock %}