{% extends "Base/base.html" %}
{% block content %}
<section>
    
    <div class="col-3">

    </div>
    <table class="table" style="background-color: beige">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Sucursal</th>
                    <th scope="col">Comentario</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            {% for x in ventas %}
            <div class="row">
                <tr>
                    <td>{{ x.id_boleta }}</td>
                    <td>{{ x.fecha }}</td>
                    <td>{{ x.sucursal.nombre }}</td>
                    <td>{{ x.comentario }}</td>
                    <td>
                        <a href="{% url 'appSupp:detalle' x.id_boleta %}" class="btn btn-success">Ver Detalle</a>
                    </td>
                </tr>
            </div>
            {% endfor %}
        </table>
        <a class="btn btn-success" href="{% url 'appSupp:perfilVendedor' %}">Volver</a>
</section>
{% endblock %}